body {
    background: rgb(223, 255, 235,1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1 {
    color:rgb(25, 25, 112,1);
    text-align:center;
}

.projects {    
    display:flex; 
    flex-wrap:wrap; 
}  
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: rgba(255, 111, 97, 1); 
    border-radius: 30%;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(255, 193,204,1);
    display: block;
    margin: auto;
}
a { 
    text-decoration: none;
    color: rgb(47, 79, 79,1);
    }
.project p { 
text-align: center;
margin: 15x;
}
about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    }
    .about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
    }
    .about img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgb(63, 192, 12);
    }